.left-arrow {
	transform: rotate(90deg);
	position: absolute;
	top: 40%;
	width: 100px;
	left: 40px;
}

.right-arrow {
	transform: rotate(270deg);
	position: absolute;
	top: 40%;
	width: 100px;
	right: 40px;
}
.image-container {
	position: relative;
	max-width: 1440px;
	padding: 0 50px;
	.image-product {
		display: block;
		object-fit: cover;
		border-radius: 10px;

		width: 100%;
		height: 415px;
	}

	.picture-counter {
		position: absolute;
		color: white;
		bottom: 0;
		left: 50%;
	}
}
@media screen and (max-width: 768px) {
	.image-container {
		position: relative;

		.image-product {
			display: block;
			object-fit: cover;
			width: 100%;
			height: 255px;
		}
	}
	.right-arrow {
		transform: rotate(270deg);
		position: absolute;
		top: 40%;
		width: 50px;
		right: 50px;
	}
	.left-arrow {
		transform: rotate(90deg);
		position: absolute;
		top: 40%;
		width: 50px;
		left: 50px;
	}
}
@media screen and (max-width: 375px) {
	.left-arrow {
		width: 30px;
		left: 20px;
	}
	.right-arrow {
		width: 30px;
		right: 20px;
	}
	.image-container {
		padding: 0 20px;
	}
}
