.stars {
	width: 20px;
	display: flex;
	flex-direction: row;
}
.rating-container {
	display: flex;
	gap: 25px;
}
.star-color {
	color: #f46060;
}
@media screen and (max-width: 375px) {
	.rating-container {
		margin: 0% 30% 0% -25%;
		gap: 10px;
	}
}
